<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="content-crear" class="m-auto">
                <div class="m-auto form">
                    <h1>{{titulo}}</h1>
        <form #ventaForm="ngForm" (ngSubmit)="postVenta(ventaForm)">
            <div>
                <label for="cedula">Cedula: </label>
                <input type="text" name="cedula" #cedula="ngModel" [(ngModel)]="venta.cedula" required>
            </div>
            <div>
                <label for="tipoT">Tipo: </label>
                <select type="text" name="tipoT" #tipoT="ngModel" [(ngModel)]="tipo._id">
                    <option *ngFor="let tipoF of tipos" value="{{tipoF._id}}">{{tipoF.nombre}}</option>
                </select>
            </div>
            <div>
                <label for="cantidadT">Cantidad (Litros): </label>
                <input type="number" name="cantidadT" #cantidadT="ngModel" [(ngModel)]="venta.cantidad" (change)="calcularTotal($event)">
            </div>
            <div>
                <label for="total">Total: </label>
                <input type="text" name="total" #total="ngModel" [(ngModel)]="venta.total">
            </div>
            <div class="text-center">
                <input type="submit" [disabled]="!ventaForm.form.valid" value="ENVIAR" class="btn btn-primary">
            </div>    
        </form>
                </div>
            </div>  
           
        </div>
        <div class="col-md-6 col-sm-12 items">
            <div *ngFor="let ventaF of ventas" class="item-venta">
                <div>
                    <h4>{{ventaF.tipo}}</h4>
                    <h3>{{ventaF.cantidad}} litros = $ {{ventaF.total}}</h3>
                </div>
            </div>
        </div>
        
    </div>
</div>
