<div style="height:450px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <img src="../../../assets/img/home.png" alt="" width="300px">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <br>
                <br>
                <p class="text-dark">
                    ¡Bienvenido a nuestra gasolinera! Aquí encontrará combustibles de calidad y un servicio amable y eficiente. ¡Estamos listos para atenderle y satisfacer sus necesidades de combustible!
                </p>
            </div>
        </div>
    </div>
</div>