<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="content-crear" class="m-auto">
                <div class="m-auto form">
                    <h1>Déjanos un mensaje!</h1>
                    <form action="">
                        <div>
                            <label for="correo">Correo electrónico: </label>
                            <input name="correo" type="email">
                        </div>
                        <div>
                            <label for="nombre">Nombre: </label><br>
                            <input name="nombre" type="text">
                        </div>
                        <div>
                            <label for="mensaje">Mensaje: </label>
                            <textarea name="mensaje"cols="30" rows="10"></textarea>
                            
                        </div>
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>  
           
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="info">
                <h1>Teléfonos: </h1>
                <p>+593 99 505 2070</p>
                <h1>Ubicación: </h1>
                <p>Humberto Albornoz y <br> Barros de San Millan</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.9864281597875!2d-78.50452135682569!3d-0.19478556484851237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a442dade90f%3A0x39167439e4e37266!2sLa%20Gasca%2C%20Quito%20170129!5e0!3m2!1ses-419!2sec!4v1678613598284!5m2!1ses-419!2sec" width="180px" height="250px" style="border:0; border-radius:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>        
    </div>
</div>
